@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
html {
  height: 100%;
  background: url("https://framerusercontent.com/images/mxcZzEaRKh3MaagzTV1hM3ayfJo.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
